@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body {
  overflow-x: hidden;
}
main {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* ===== HEADER ===== */
/* ===== HEADER ===== */
.navbar {
  width: 90%;
  display: flex;
  margin: 30px auto;
  align-items: center;
  justify-content: space-between;
}
.navbar > img {
  margin-left: -17px;
}
.navbar div {
  display: flex;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  align-items: center;
  background-color: #800080;
  justify-content: space-between;
}
.navbar div a {
  display: none;
}
.navbar div img:nth-child(3) {
  display: none;
}
.navbar div p {
  font-weight: 400;
  margin-right: 25px;
}
.navbar div img:nth-child(5), .navbar div img:nth-child(6) {
  display: block;
}
.info {
  width: 90%;
  margin: 0 auto;
  padding: 0 20px;
}
.info > div:nth-child(2) {
  display: flex;
  margin: 20px 0;
  cursor: pointer;
  align-items: center;
}
.info > div:nth-child(2) p {
  font-weight: 600;
  color: #800080;
  margin-left: 10px;
}
.info > div:nth-child(3) {
  display: flex;
  justify-content: space-between;
}
.info > div:nth-child(3) > div:nth-child(1) {
  text-align: center;
}
.info > div:nth-child(3) > div:nth-child(1) > p {
  font-size: 17px;
  color: #800080;
  margin-bottom: 5px;
}
.info > div:nth-child(3) > div:nth-child(1) div {
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #eeeeee;
}
.info > div:nth-child(3) > div:nth-child(1) div p {
  font-size: 17px;
  font-weight: 500;
  margin-left: 5px;
  letter-spacing: 10px;
}
.info > div:nth-child(3) > div:nth-child(2) {
  padding: 10px 15px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.info > div:nth-child(3) > div:nth-child(2) p:nth-child(1) {
  color: #800080;
}
.info > div:nth-child(3) > div:nth-child(2) p:nth-child(2) {
  font-size: 17px;
  font-weight: 500;
}

/* ===== CARDS ===== */
/* ===== CARDS ===== */
.cards {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.cards h2 {
  color: #800080;
  font-weight: 500;
  margin-bottom: 15px;
}
.cards h2 span {
  font-weight: 400;
}
.card {
  width: 100%;
  color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #FF864C, #800080 );
}
.card > div:nth-child(1) {
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}
.card > div:nth-child(1) p:nth-child(1) {
  font-weight: 500;
}
.card > div:nth-child(1) p:nth-child(2) {
  font-size: 14px;
  font-weight: 300;
}
.card > p:nth-child(2) {
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 10px;
}
.card > div:nth-child(3) {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}
.card > div:nth-child(3) div {
  padding: 2px 7px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1.8px solid #eeeeee;
}
.card > div:nth-child(3) div p {
  font-size: 14px;
  font-weight: 300;
}
.card > p:nth-child(4) {
  font-weight: 300;
  padding-top: 5px;
  margin-left: 20px;
  padding-bottom: 10px;
}
.card > p:nth-child(4) span {
  font-size: 20px;
  font-weight: 400;
}
main > div {
  width: 90%;
  margin: 0 auto;
}
main > div p {
  padding: 30px 0;
  font-size: 18px;
  color: #800080;
  font-weight: 500;
}

/* ===== RESPONSIVE ===== */
/* ===== RESPONSIVE ===== */
@media screen and (min-width: 750px) {
  body {
    overflow-y: hidden;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  /* navbar */
  .navbar {
    margin-bottom: 10px;
  }
  .navbar div {
    color: #800080;
    cursor: default;
    background-color: transparent;
  }
  .navbar div a {
    display: block;
    transition: .3s;
    color: #e2a2e2;
    margin-right: 20px;
    text-decoration: none;
  }
  .navbar div a:hover {
    color: #800080;
  }
  .navbar div img:nth-child(3) {
    display: block;
    margin-top: -1px;
    margin-right: 5px;
  }
  .navbar div p {
    margin-right: 10px;
  }
  .navbar div img:nth-child(5) {
    display: none;
  }
  .navbar div img:nth-child(6) {
    display: block;
    cursor: pointer;
  }
  /* info */
  .info {
    width: 76%;
  }
  .cards {
    width: 76%;
    margin-top: 10px;
  }
  /* cards */
  .cards > div {
    display: flex;
    position: relative;
    overflow-x: scroll;
  }
  .cards > div::-webkit-scrollbar {
    display: none;
  }
  .card {
    margin-bottom: 0;
  }
  .card:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
  }
  main > div {
    width: 76%;
  }
}